@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap'); */
/* @font-face {
  font-family: 'planewalkerregular';
  src: url('http://localhost:3000/client/public/assets/planewalker-38m6-webfont.woff2') format('woff2'),
       url('http://localhost:3000/client/public/assets/planewalker-38m6-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}